<div class="about-page">
  <div class="about-page-content d-flex p-5">
    <div class="card">
      <div class="card-tools">
        <div class="card-circle">
          <span class="circle-red box"></span>
        </div>
        <div class="card-circle">
          <span class="circle-yellow box"></span>
        </div>
        <div class="card-circle">
          <span class="circle-green box"></span>
        </div>
      </div>
      <div class="card-content">
        <div class="card-content-about">
          <h2>About( )</h2>
          <p>Hello, my name is Gilary and it's pronounced as Hilarie. I'm a passionate frontend developer from Tokyo. I was born in raised in the Philippines. When I am not coding I usually like so solve rubik cubes, jigsaw puzzles, and go for a run around the block. Also, I'm very curious and eager to learn new things.</p>
        </div>
        <div class="card-content-skills">
          <h2>My tech skills( )</h2>
          <ul>
            <li><i class="fa-brands fa-html5"></i></li>
            <li><i class="fa-brands fa-css3-alt"></i></li>
            <li><i class="fa-brands fa-square-js"></i></li>
            <li><i class="fa-brands fa-react"></i></li>
            <li><i class="fa-brands fa-git"></i></li>
            <li><i class="fa-brands fa-github"></i></li>
            <li><i class="fa-brands fa-figma"></i></li>
          </ul>
        </div>
        <a  href="#projects" class="wrapper-button w-25 text-center ">Projects
          <div class="button-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
          </div>
        </a>
      </div>
    </div>
    <div class="about-page-portrait">
      <img src="images/portrait.jpg" alt="portrait">
    </div>
  </div>
</div>
