<div class="my-projects py-4" id="projects">
  <h2 class="text-center p-3">Projects</h2>
  <div class="container">
    <div class="project-cards">
      <% data.projects.each do |project| %>
        <div class="project-card">
          <%= image_tag project.image, alt: "project image" %>
          <div class="content">
            <span class="title">
              <p> <%= project.name %></p>
            </span>
            <p class="desc">
              <%= project.description %>
            </p>
            <%= link_to "Show more", project.url, class: 'action', target: '_blank' =%>

            <%# <a href="#" class="action">
              Find out more
              <span aria-hidden="true">
                →
              </span>
            </a> %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
