.about-page{
  // background-color:#EFF4F8;
  background:#A631D6;
  height: 100vh;
  // position: relative;
  // margin: 0 auto;

  a{
    text-decoration: none;
  }
}

// .about-me{
//   height: 50%;
//   width: 50%;
//   border-radius: 8px;
//   box-shadow: 5px 5px 3px 1px #686679;
//  margin-top:30px;

//   h2, h3{
//    color:#EE2A9B;
//   }

// }

// .container{
//   gap:32px;
// }
// .about-skills img {
//   width: 400px;
//   // height: 600px;
//   object-fit: cover;
//   object-position: 70% 50%;
//   border-radius:8px;

// }

// .about-me-button{
//   margin: 8px 24px 20px;
// }

// .about-page-content{
//   // display: flex;
//   // gap: 18px;
//   // position: absolute;
//   // top: 40px;
// }

.about-page-portrait{
  img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
