.navbar-lewagon {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  background: #181425;
}


// .center-nav {
//   display: flex;
//   justify-content: center;
//   // margin: 0 auto;
// }
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  a {
    color: white;
    &:hover {
      color: #a631d6;
    }
  }
}
