.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181425;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  a {
    color: white;
    &:hover {
      color: #a631d6;
    }
  }
}
